.hidden {
    display: none !important;
}

.opaque {
    opacity: 0;
    transition: 2s;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 10px;
}

header h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

header h1 span {
    color: green;
}

.template {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 20px;
    transition: 2s;
}

.players {
    width: 200px;
}
.start {
    /* padding: 100px; */
    text-align: center;
}

.start > p {

}

.start-btns > div {
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
    box-shadow: 0 0 2px gray;
    font-size: 50px;
}

.start-btns > div:not(:first-child) {
    margin-top: 20px;
}
.start-btns > div:hover {
    box-shadow: 0 0 5px gray;
    background-color: lightgreen;
    cursor: pointer;
}

.playerCard {
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 2px gray; 
}

.playerCard:not(:first-child) {
    margin-top: 10px;
}

.playerCard:hover {
    box-shadow: 0 0 5px gray;
}


.playerCard > div {
    padding: 2px 0;
}

.playerCard span {
    margin-left: 10px;
    font-size: 1.2em;
    color: palevioletred;
}

.playerCard .playerName {
    font-size: 1.5em;
    font-weight: 500;
}

.fieldContainer {
    display: flex;
    justify-content: center;
}

.field {
    position: relative;
    max-width: 1000px;
    display: flex;
    margin-left: 10px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid lightgray;
    width: 30px;
    height: 30px;
    font-size: .6em;
    transition: 0.2s;
}


.blueBody {
    transition: 1s;
    background: blue;
    border-color: blue;
}

.brownHead {
    background: brown;
}

.greenBody {
    transition: 1s;
    background: green;
}

.target {
    background: coral;
    transform: rotateZ(45deg) scaleX(0.9) scaleY(0.9);
    animation: bouncing linear 1s;
    animation-iteration-count: infinite;
}

.yellowHead {
    background: yellow;
}

@keyframes bouncing {
    50%{
        background: palevioletred;
    }
    100%{
        background: orange;
    }
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsInside {
    box-sizing: border-box;
    box-shadow: 0 0 2px gray;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.resultsInside > div {
    width: 90%;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}

#one-more {
    padding: 10px 30px;
    width: 20%;
    box-shadow: 0 0 2px gray;
    text-align: center;
    margin-bottom: 20px;
}

#one-more:hover {
    box-shadow: 0 0 5px gray;
    background-color: lightgreen;
    cursor: pointer;
}

#one-more:hover {
    box-shadow: 0 0 3px gray;
}

#winner {
    font-size: 30px;
    font-weight: 500;
    color: palevioletred;
}

#final-score {
    font-size: 60px;
    color: palevioletred;
}

.start-btns > div:hover {
    box-shadow: 0 0 5px gray;
    background-color: lightgreen;
    cursor: pointer;
}